.jumbotron {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    background-color: #ECEBE7;
}

.import-image-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: baseline;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gopnick {
    width: 106px;
    height: 132px
}

.chuviha {
    width: 89px;
    height: 111px;
}

.voznesenie {
    width: 65px;
    height: 78px;
}